.promo {
  width: calc(100% - 80px);
  height: 493px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  margin: 0 40px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 1023px) {
  .promo {
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 834px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    width: calc(100% - 28px);
    margin: 0 14px;
    height: 586px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1023px) {
  .promo__title {
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 767px) {
  .promo__title {
    font-size: 29px;
    line-height: 37px;
  }
}
