.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 70px 38px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 18px 30px 38px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px 32px;
  }
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__buttons {
    gap: 14px;
  }
}

.header__buttons_register {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #000;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .header__buttons_register {
    font-size: 10px;
  }
}

.header__buttons_register:hover {
  opacity: 0.7;
}

.header__buttons_login {
  margin: 0;
  padding: 0;
  background-color: #2be080;
  color: #000;
  border-radius: 3px;
  padding: 8px 20px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .header__buttons_login {
    font-size: 10px;
    padding: 5px 12px;
  }
}

.header__buttons_login:hover {
  opacity: 0.7;
}
