.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px 0 0;
}

.profile__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 123px;
}

.profile__about {
  list-style: none;
  margin: 0 0 220px;
  padding: 0;
}

.profile__about_element {
  display: flex;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  justify-content: space-between;
  width: 410px;
}

.profile__about_element:first-of-type {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}

.profile__about_element:last-of-type {
  padding-top: 16px;
}

.profile__about_element_text {
  margin: 0;
  padding: 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 100px;
}

.profile__edit {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

.profile__edit:hover {
  opacity: 0.5;
}

.profile__exit {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

.profile__exit:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .profile__about_element {
    width: 260px;
  }
}
