.student {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
}

.student__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0 0 66px;
}

.student__about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .student__about {
    flex-direction: column;
  }
}

.student__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 16px;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .student__name {
    font-size: 40px;
    line-height: 40px;
  }
}

.student__name_description {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .student__name_description {
    font-size: 12px;
    line-height: 18px;
  }
}

.student__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 600px;
  width: 100%;
  margin: 0 0 140px;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .student__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 767px) {
  .student__description {
    margin-bottom: 60px;
  }
}

.student__link {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .student__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

.student__link:hover {
  opacity: 0.5;
}

.student__photo {
  width: 270px;
  border-radius: 10px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1023px) {
  .student__photo {
    width: 255px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .student__photo {
    width: 100%;
    margin-bottom: 40px;
  }
}

.student__portfolio_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0 0 50px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .student__portfolio_title {
    margin: 70px 0 40px;
  }
}

.student__portfolio_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.student__portfolio_list_element {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .student__portfolio_list_element {
    font-size: 18px;
    line-height: 28px;
  }
}

.student__portfolio_list_element:hover {
  opacity: 0.5;
}

.student__portfolio_list_link {
  text-decoration: none;
  color: #000;
  border-top: 1px solid #e8e8e8;
  padding-top: 19px;
  margin: 0;
}

.student__portfolio_list_link:first-of-type {
  border: none;
  padding: 0;
}

.student__portfolio_list_element_link {
  background-image: url(../../images/link.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .student__portfolio_list_element_link {
    width: 14px;
    height: 14px;
  }
}
